/* Global -------------------- */
:root {
  --black: black;
  --charcoal: rgb(44, 44, 44);
  --shadow: rgb(160, 160, 160);
  --lightShadow: rgb(199, 199, 199);
  --darkBlue: rgb(0, 20, 46);
  --subtleGrey: rgb(235, 235, 235);
  --taskBlue: rgb(235, 247, 255);
  --taskGrey: rgb(241, 241, 241);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  background-color: lightgray;
}

h2 {
  font-family: "Bai Jamjuree", "Roboto", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  color: var(--darkBlue);
  font-weight: 300;
  font-size: 1.7rem;
  padding-bottom: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 0.5px solid;
  border-bottom-color: var(--subtleGrey);
}
.container {
  background-color: white;
  padding: 0;
}

/* NavigationBar -------------------- */
.navbar {
  box-shadow: var(--shadow) 0px 1px 4px;
}
.dropdown-toggle::after,
.dropleft .dropdown-toggle::before {
  display: none;
}

.dropleft .dropdown-menu {
  top: 95%;
  right: 25%;
}

.navbar .user-picture {
  height: 45px;
  border-radius: 100%;
  box-shadow: var(--black) 1px 1px 4px;
}

.dropdown-menu {
  border: none;
  box-shadow: var(--shadow) 2px 2px 7px;
  border-radius: 0.12rem;
}

/* LoginView -------------------- */

/* DashboardView ----------------- */
.dashboard-container {
  min-height: 100vh;
  padding: 10px;
  padding-left: 45px;
  padding-right: 45px;
}

/* DashboardView -> WeeklyGraphs -- */
.bar-graph-group-item > img {
  position: relative;
  height: 50px;
  z-index: 2;
  border-radius: 100%;
  box-shadow: 1px 1px 4px var(--shadow);
}

.bar-graph-group-item .progress {
  position: relative;
  top: -38px;
  left: 45px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: var(--subtleGrey);
  box-shadow: 1px 1px 3px var(--lightShadow);
  width: 90%;
  height: 25px;
}

.bar-graph-group-item .progress-bar {
  font-family: "Bai Jamjuree", "Roboto", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  font-weight: 600;
  color: var(--darkBlue);
  box-shadow: 1px 1px 3px var(--lightShadow);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.bar-graph-group-item:nth-of-type(1) .progress-bar {
  background-color: rgb(139, 218, 250);
}
.bar-graph-group-item:nth-of-type(2) .progress-bar {
  background-color: rgb(157, 235, 224);
}
.bar-graph-group-item:nth-of-type(3) .progress-bar {
  background-color: rgb(148, 207, 255);
}
.bar-graph-group-item:nth-of-type(4) .progress-bar {
  background-color: rgb(235, 205, 197);
}
/* DashboardView -> MyTasks ------ */
.my-tasks .all-tasks {
  margin-left: 25px;
  margin-right: 25px;
}
.my-tasks .all-tasks .col-2 > .fas {
  color: var(--charcoal);
  font-size: 1.5rem;
  position: relative;
  top: 25%;
  margin-right: 15px;
  margin-left: 10px;
  opacity: 0.55;
}
.my-tasks .all-tasks > .row {
  height: 60px;
  background-color: var(--taskGrey);
  margin-bottom: 2px;
  text-align: center;
  padding: 5px;
  font-size: 0.85em;
  color: var(--black);
  opacity: 0.75;
  transition: all 0.2s;
}
.my-tasks .all-tasks > .row:hover {
  opacity: 1;
}
.my-tasks .all-tasks > .row:nth-child(odd) {
  background-color: var(--taskBlue);
}

.my-tasks .all-tasks > .row > p {
  position: relative;
  top: 25%;
  opacity: 1;
}

.my-tasks .all-tasks button {
  margin: auto;
  opacity: 0.5;
  font-size: 0.7rem;
  width: 33%;
  box-shadow: 1px 1px 4px var(--lightShadow);
  border-radius: 2px;
  transition: all 0.1s;
}
.my-tasks .all-tasks button:hover {
  opacity: 0.9;
}
/* DashboardView -> TeamSummary -- */
/* DashboardView -> MyQueue ------ */

/* SearchView -------------------- */

/* DoctorProfileView ------------- */

/* Mobile ------------------------ */
