/* Mobile ------------------------ */

@media screen and (max-width: 990px) {
  /* DashboardView -> WeeklyPerformance */

  .bar-graph-group-item > img {
    height: 65px;
  }
  .bar-graph-group-item .progress {
    top: -48px;
    left: 61px;
    height: 30px;
    width: 85%;
  }

  .bar-graph-group-item .progress-bar {
    font-size: 1.2rem;
    font-weight: 400;
    padding-left: 5px;
  }

  /* DashboardView -> MyTasks */
  .my-tasks .all-tasks button {
    width: 75%;
    height: 90%;
    font-size: 1rem;
    opacity: 0.65;
  }
  /* DashboardView -> TeamSummary */
  .summary h2 > i,
  .my-queue h2 > i,
  .week-stats h2 > i {
    display: inline;
    cursor: pointer;
    margin-left: 10px;
    color: var(--darkBlue);
  }
  .summary > h2 + div,
  .my-queue > h2 + i,
  .week-stats > h2 + div {
    opacity: 1;
    transition: all 1s;
  }

  .my-queue > h2 + div.not-visible,
  .summary > h2 + div.not-visible,
  .week-stats > h2 + div.not-visible {
    opacity: 0;
    display: none;
  }

  .circ1,
  .circ2,
  .circ3 {
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .summary h3 {
    font-size: 1.3rem;
    font-weight: 300;
  }
  .summary p {
    font-size: 1.1rem;
    font-weight: 300;
  }
  .summary div.c100 {
    margin: 0px 0px 15px 0px;
    margin-left: 50%;
  }

  .summary div.col-4 {
    border-bottom: 1px solid var(--subtleGrey);
    padding-bottom: 25px;
    margin-bottom: 15px;
  }
  .summary div.col-4:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .c100.big {
    font-size: 200px;
  }
  .c100 span > img {
    width: 135px;
  }
  .c100 span > img:hover {
    width: 145px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-nav span {
    display: none;
  }
}
