/* Mobile ------------------------ */

@media screen and (max-width: 990px) {
  /* Global */
  h2 {
    font-size: 1.3rem;
  }

  /* Mobile Carets 🔼🔽 */
  .summary h2 > i:nth-child(1),
  .my-tasks h2 > i:nth-child(1),
  .my-queue h2 > i:nth-child(1),
  .week-stats h2 > i:nth-child(1) {
    display: inline-block;
    cursor: pointer;
    margin-left: 10px;
    color: var(--darkBlue);
    font-size: 2rem;
    transition: all 0.3s;
  }
  h2 i.fa-caret-up {
    transform: translateY(2px);
  }
  h2 i.rotate-carat {
    transform: translateY(8px) rotate(-180deg);
  }

  /* Mobile Expansion / Collapse */
  .summary > h2,
  .my-tasks > h2,
  .my-queue > h2,
  .week-stats > h2 {
    cursor: pointer;
  }

  .my-queue > .all-cases,
  .my-tasks > .all-tasks,
  .summary > .all-team-data,
  .week-stats > .all-graph-items {
    opacity: 1;
    transition: all 1s;
  }

  .my-queue > .all-cases.not-visible,
  .my-tasks > .all-tasks.not-visible,
  .summary > .all-team-data.not-visible,
  .week-stats > .all-graph-items.not-visible {
    opacity: 0;
    display: none;
  }

  /* ➕ Plus/Cross Symbol */
  .my-queue .fa-plus:hover,
  .my-tasks .fa-plus:hover {
    opacity: 0.5;
    font-size: 1.4em;
    top: 22px;
  }

  /* DashboardView -> WeeklyPerformance */
  .bar-graph-group-item > img {
    height: 65px;
  }
  .bar-graph-group-item .progress {
    top: -48px;
    left: 61px;
    height: 30px;
    width: 80%;
  }

  .bar-graph-group-item .progress-bar {
    font-size: 1.2rem;
    font-weight: 400;
    padding-left: 5px;
  }

  /* DashboardView -> MyTasks */
  .my-tasks .all-tasks button {
    width: 75%;
    height: 90%;
    font-size: 1rem;
    opacity: 0.65;
  }
  /* DashboardView -> TeamSummary */
  .circ1,
  .circ2,
  .circ3 {
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .summary h3 {
    font-size: 1.3rem;
    font-weight: 300;
  }
  .summary p {
    font-size: 1.1rem;
    font-weight: 300;
  }
  .summary div.c100 {
    margin: 0px 0px 15px 0px;
    margin-left: 50%;
  }

  .summary div.col-4 {
    border-bottom: 1px solid var(--subtleGrey);
    padding-bottom: 25px;
    margin-bottom: 15px;
  }
  .summary div.col-4:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .c100.big {
    font-size: 200px;
  }
  .c100 span > img {
    width: 135px;
  }
  .c100 span > img:hover {
    width: 145px;
  }

  /* DashboardView -> TeamSummary -> CaseButton */
  .btn-case .fa-trash,
  .btn-case .fa-pen {
    font-size: 1.3rem;
    right: 0.7rem;
    top: 0.7rem;
  }

  .my-queue h3 {
    margin-top: 10px;
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-nav span {
    display: none;
  }
}

@media screen and (max-width: 350px) {
  .my-tasks .task-text {
    font-size: 0.7rem;
  }
  .btn-case img {
    height: 60px;
  }
  .btn-case .col-2 {
    margin: auto;
  }
  .btn-case.complete .fa-check {
    font-size: 2.6rem;
    left: 0.8rem;
    bottom: 2.4rem;
  }
}
